<?php
$categoryData  = $this->getCategoryData();
?>
<script>
  window._edrone = window._edrone || {};
  _edrone.product_category_ids = '<?php /* @noEscape */ echo urlencode($categoryData['product_category_ids']); ?>';
  _edrone.product_category_names = '<?php /* @noEscape */ echo urlencode($categoryData['product_category_names']); ?>';
  _edrone.action_type = 'category_view';
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Edrone_Magento2module/js/edroneDataTransfer": {}
        }
    }
</script>
<script>
  !(function(){
    window._edroneDataTransfer = {
      isFirstCall : true,
      execute : function(data){
        if(this.isFirstCall){
          this.initEdrone(data);
        }
      },
      initEdrone : function(data){
        if(data.error){ return; }
        this.isFirstCall=false;
        (function (srcjs,data) {
          window._edrone = window._edrone || {};
          _edrone.app_id = data.settings.appid;
          _edrone.shop_id = data.settings.shop_id;
          _edrone.shop_lang = data.settings.shop_lang;
          _edrone.website_id = data.settings.website_id;
          _edrone.version     = data.settings.version;
          _edrone.platform    = data.settings.platform;
          _edrone.platform_version    = data.settings.platform_version;
          if(data && data.customer && data.customer.isLoggedIn){
            _edrone.first_name  = data.customer.firstName;
            _edrone.last_name   = data.customer.lastName;
            _edrone.email       = data.customer.email;
            _edrone.city        = data.customer.city;
            _edrone.country     = data.customer.country;
            _edrone.phone       = data.customer.phone;
            _edrone.subscriber_status =  data.customer.subscriber_status;
          }
          var doc = document.createElement('script');
          doc.type = 'text/javascript';
          doc.async = true;
          doc.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + srcjs;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(doc, s);
        })("//d3bo67muzbfgtl.cloudfront.net/edrone_2_0.js?app_id=" + data.settings.appid,data);
      }
    }
  })();
</script>
