<?php
/* @var $this Edrone\Magento2module\Block\Order */
$helper = $this->getDataHelper();
$customerData = $this->getCustomerData();
$orderData    = $this->getOrderData();
$this->sendDataToServer($orderData, $customerData);
?>

<?php if (!empty($orderData)): ?>
    <script type="text/javascript">
        (function (srcjs) {
            window._edrone = window._edrone || {};
            _edrone.email = '<?php /* @noEscape */ echo urlencode($customerData['email']); ?>';
            _edrone.last_name = '<?php /* @noEscape */ echo urlencode($customerData['last_name']); ?>';
            _edrone.first_name = '<?php /* @noEscape */ echo urlencode($customerData['first_name']); ?>';
            _edrone.city = '<?php /* @noEscape */ echo urlencode($customerData['city']); ?>';
            _edrone.country = '<?php /* @noEscape */ echo urlencode($customerData['country']); ?>';
            _edrone.phone = '<?php /* @noEscape */ echo urlencode($customerData['phone']); ?>';
            _edrone.product_skus = '<?php /* @noEscape */ echo urlencode($orderData['sku']); ?>';
            _edrone.product_titles = '<?php /* @noEscape */ echo urlencode($orderData['title']); ?>';
            _edrone.product_urls = '<?php /* @noEscape */ echo urlencode($orderData['product_urls']); ?>';
            _edrone.product_images = '<?php /* @noEscape */ echo urlencode($orderData['image']); ?>';
            _edrone.product_category_ids = '<?php /* @noEscape */ echo urlencode($orderData['product_category_ids']); ?>';
            _edrone.product_category_names = '<?php /* @noEscape */ echo urlencode($orderData['product_category_names']); ?>';
            _edrone.order_id = '<?php /* @noEscape */ echo urlencode($orderData['order_id']); ?>';
            _edrone.order_payment_value = '<?php /* @noEscape */ echo urlencode($orderData['order_payment_value']); ?>';
            _edrone.base_payment_value = '<?php /* @noEscape */ echo urlencode($orderData['base_payment_value']); ?>';
            _edrone.base_currency = '<?php /* @noEscape */ echo urlencode($orderData['base_currency']); ?>';
            _edrone.order_currency = '<?php /* @noEscape */ echo urlencode($orderData['order_currency']); ?>';
            _edrone.coupon = '<?php /* @noEscape */ echo urlencode(isset($orderData['coupon']) ? $orderData['coupon'] : ''); ?>';
            _edrone.action_type = 'order';
            _edrone.utc_time = '<?php /* @noEscape */ echo urlencode($helper->utcNow()); ?>';
            _edrone.product_counts = '<?php /* @noEscape */ echo urlencode($orderData['product_counts']); ?>';
            _edrone.event_date = '<?php /* @noEscape */ echo urlencode($helper->utcNow()); ?>';
        })();
    </script>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Edrone_Magento2module/js/edroneDataTransfer": {}
        }
    }
</script>
<script>
    !(function(){
        window._edroneDataTransfer = {
            isFirstCall : true,
            execute : function(data){
                if(this.isFirstCall){
                    this.initEdrone(data);
                }
                this.prepare(data);
            },
            initEdrone : function(data){
                if(data.error){ return; }
                this.isFirstCall=false;
                (function (srcjs,data) {
                        window._edrone = window._edrone || {};
                        _edrone.app_id = data.settings.appid;
                        _edrone.shop_id = data.settings.shop_id;
                        _edrone.shop_lang = data.settings.shop_lang;
                        _edrone.website_id = data.settings.website_id;
                        _edrone.version     = data.settings.version;
                        _edrone.platform    = data.settings.platform;
                        _edrone.platform_version    = data.settings.platform_version;
                        var doc = document.createElement('script');
                        doc.type = 'text/javascript';
                        doc.async = true;
                        doc.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + srcjs;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(doc, s);
                })("//d3bo67muzbfgtl.cloudfront.net/edrone_2_0.js?app_id=" + data.settings.appid,data);
            },
            prepare : function(data){
                let edroneCart = []
                if (localStorage.getItem('tmp_edrone_cart') !== null) {
                  edroneCart = JSON.parse(localStorage.getItem('tmp_edrone_cart'))
                }
                if(data.cart !== false && !!data.settings.add_to_cart && !edroneCart.includes(data.cart.sku)){
                    _edrone.product_skus = data.cart.sku;
                    _edrone.product_titles = data.cart.title;
                    _edrone.product_images = data.cart.image;
                    _edrone.product_category_ids = data.cart.product_category_ids;
                    _edrone.product_category_names = data.cart.product_category_names;
                    _edrone.action_type = 'add_to_cart';
                    if (_edrone.init) {
                      _edrone.init();
                      edroneCart.push(data.cart.sku);
                      localStorage.setItem('tmp_edrone_cart', JSON.stringify(edroneCart));
                    }
                    return;
                }
                if (data.cart === false) {
                  localStorage.removeItem('tmp_edrone_cart')
                }
            }

        }
    })();
</script>
